<section id="_404" role="alert">
    <h2>404</h2>
    <p>{{ i18n._404_text[page.lang] }}</p>
    <img src="{{ '/_assets/404.jpg' | url }}" title="404 page" alt="404 page" />
    <br>
    <a href="{{ '/' | customLocaleUrl(page.lang) | url }}" aria-label="{{ i18n.payment_successed_link[page.lang] }}">
        ‹ {{ i18n.payment_successed_link[page.lang] }}
    </a>
</section>
