<a
    href="#"
    class="btn btn-card add-to-cart"
    data-added-text="{{ i18n.added_to_cart_title[page.lang] }}"
    aria-label="{{ i18n.add_to_cart_title[page.lang] }}"
>
    {{ i18n.add_to_cart_title[page.lang] }}
</a>
