<section id="payment-canceled" role="alert">
    <p>{{ i18n.payment_canceled[page.lang] }}</p>
    <a href="{{ '/cart' | customLocaleUrl(page.lang) | url }}" aria-label="{{ i18n.payment_canceled_link[page.lang] }}">
        ‹ {{ i18n.payment_canceled_link[page.lang] }}
    </a>
</section>
