<div id="card-carousel" class="splide" aria-label="{{ i18n.aria.slide[page.lang] }} {{ name }}">
    <section class="splide__track">
        <ul class="splide__list">
            {%- for photo in photos -%}
              <li class="splide__slide">
                <figure class="card-figure">
                  {% image settings.dirs.carousels_images + photo, i18n.alt_photo[page.lang] + ' - ' + name, '(max-width: 600px) 365px, 800px', 'card-image' %}
                  <figcaption class="card-caption">{{ name }}</figcaption>
                </figure>
              </li>
            {%- endfor -%}
          </ul>      
    </section>

    <ul id="card-thumbnails" class="card-thumbnails">
        {%- for photo in photos -%}
            <li class="card-thumbnail">
            	<img src="{{ settings.dirs.carousels_thumbs | url }}{{ photo }}" tabindex="0" aria-label="{{ i18n.aria.slide_thumb[page.lang] }} {{ loop.index }}" aria-controls="card-carousel-slide0{{ loop.index }}" width="100"
                height="60">
            </li>
        {%- endfor -%}
    </ul>
</div>
