<a
    href="#"
    id="checkout-button"
    class="shadow btn btn-card"
    data-added-text="{{ i18n.checkout_title[page.lang] }}"
    aria-label="{{ i18n.checkout_title[page.lang] }}"
>
    {{ i18n.checkout_title[page.lang] }}
    <img class="cb-icon" src="/_assets/icons/cb.svg" alt="{{ i18n.cart_icon_title[page.lang] }}" width="32" height="40">
</a>