<a href="{{ '/cart' | customLocaleUrl(page.lang) | url }}" id="floating-cart" class="hidden">
    <img class="cart-icon" src="/_assets/icons/shop-bag.svg" alt="{{ i18n.cart_icon_title[page.lang] }}" title="{{ i18n.cart_title[page.lang] }}">
</a>