<a href="{{ '/cart' | customLocaleUrl(page.lang) | url }}" id="floating-cart" class="shadow hidden" role="button" aria-label="{{ i18n.aria.cart[page.lang] }}">
    <img class="cart-icon" src="/_assets/icons/shop-bag.svg" alt="{{ i18n.cart_icon_title[page.lang] }}" title="{{ i18n.cart_title[page.lang] }}" width="25" height="35">
</a>