<footer class="footer-section" role="contentinfo">
    <ul class="footer-list">
        <li>
            <a
                href="{{ '/privacy' | customLocaleUrl(page.lang) | url }}"
                class="footer-link"
                aria-label="{{ i18n.aria.privacy[page.lang] }}"
                >{{ i18n.privacy_nav[page.lang] }}</a
            >
        </li>
        <li>
            <a
                href="{{ '/legacy' | customLocaleUrl(page.lang) | url }}"
                class="footer-link"
                aria-label="{{ i18n.aria.legacy[page.lang] }}"
                >{{ i18n.legacy_nav[page.lang] }}</a
            >
        </li>
    </ul>
    <address itemscope itemtype="https://schema.org/PostalAddress">
    <span itemprop="name">{{ i18n.address_title[page.lang] }}</span>
    <a href="https://www.openstreetmap.org/node/3514787034">
        <span itemprop="streetAddress">15, rue de la montagne</span> - 
        <span itemprop="postalCode">09320</span>
        <span itemprop="addressLocality">Massat</span>
    </a> - 
    <span itemprop="addressRegion">Ariège</span> - 
    <data itemprop="addressCountry" value="FR">France</data>
    |
    <span itemprop="email">
        <a href="mailto:&#99;&#111;&#117;&#99;&#111;&#117;&#64;&#103;&#111;&#110;&#103;&#102;&#117;&#99;&#104;&#97;&#46;&#102;&#114;">
            coucou@gongfucha.fr
        </a>
    </span>
     | 
    <span itemprop="telephone">
        <a href="tel:+33666081188">
            +33 666 081 188
        </a>
    </span>
</address>

</footer>
