<style>
    .footer-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-top: var(--border-thin);
        margin-top: 1rem;
        gap: var(--gap-small);
        flex-wrap: wrap;
    }

    .footer-list {
        display: flex;
        gap: var(--gap-large);
        padding: 0;
        margin: 0;
    }

    .footer-section address {
        color: var(--primary-color);
        font-style: normal;
        text-align: center;
    }

    .footer-section .contact-info {
        padding-top: .5rem;
        display: flex;
        flex-direction: column ;
    }

    .footer-section .email {
        display: block;
    }

    @media (min-width: 769px) {
        .footer-section {
            justify-content: space-between;
            padding: 1rem 0;
        }
        .footer-section address {
            text-align: left;
        }

        .footer-section .contact-info {
            flex-direction: row;
            align-items: center;
            gap: var(--gap-small);
        }

        .footer-section .contact-info a + a::before {
            content: "|";
            margin: 0 0.5rem; /* Espacement contrôlé */
        }
    }
</style>

<footer class="footer-section" role="contentinfo">
    <ul class="footer-list">
        <li>
            <a
                href="{{ '/privacy' | customLocaleUrl(page.lang) | url }}"
                class="footer-link"
                aria-label="{{ i18n.aria.privacy[page.lang] }}"
                >{{ i18n.privacy_nav[page.lang] }}</a
            >
        </li>
        <li>
            <a
                href="{{ '/legacy' | customLocaleUrl(page.lang) | url }}"
                class="footer-link"
                aria-label="{{ i18n.aria.legacy[page.lang] }}"
                >{{ i18n.legacy_nav[page.lang] }}</a
            >
        </li>
    </ul>
    <address itemscope itemtype="https://schema.org/PostalAddress">
        <span itemprop="name">{{ i18n.address_title[page.lang] }}</span>
        <a href="https://www.openstreetmap.org/node/3514787034" aria-label="{{ i18n.aria.view_address[page.lang] }}" target="_blank" rel="noopener noreferrer">
            <span itemprop="streetAddress">15, rue de la montagne</span> - 
            <span itemprop="postalCode">09320</span>
            <span itemprop="addressLocality">Massat</span>
        </a> - 
        <span itemprop="addressRegion">Ariège</span> - 
        <data itemprop="addressCountry" value="FR">France</data>
        <div class="contact-info" itemprop="contactPoint" itemscope itemtype="https://schema.org/ContactPoint">
            <a href="mailto:&#99;&#111;&#117;&#99;&#111;&#117;&#64;&#103;&#111;&#110;&#103;&#102;&#117;&#99;&#104;&#97;&#46;&#102;&#114;"class="email"  itemprop="email" aria-label="{{ i18n.aria.send_email[page.lang] }}">
                coucou@gongfucha.fr
            </a>
            <a href="tel:+33666081188" itemprop="telephone" class="phone" aria-label="{{ i18n.aria.call_phone[page.lang] }}">
                +33 666 081 188
            </a>
        </div>
    </address>
</footer>
