<header class="header">
    <a href="{{ '/' | customLocaleUrl(page.lang) | url }}" class="logo-link" aria-label="{{ i18n.aria.home[page.lang] }}">
        {% logo "https://www.gongfucha.fr/assets/sceau-the.svg", i18n.alt_logo[page.lang], '(max-width: 769px) 128px, 80px' %}
    </a>
    <nav class="nav-header">
        <ul class="list nav-list">
            <li><a href="{{ '/' | customLocaleUrl(page.lang) | url }}" class="nav-link" aria-label="{{ i18n.aria.home[page.lang] }}">{{ i18n.shop_nav[page.lang] }}</a></li>
            <li><a href="{{ i18n.about_url[page.lang] }}" class="nav-link" aria-label="{{ i18n.aria.about[page.lang] }}">{{ i18n.about_nav[page.lang] }}</a></li>
            <li><a href="{{ '/cart' | customLocaleUrl(page.lang) | url }}" id="cart-link" class="nav-link" aria-label="{{ i18n.aria.cart[page.lang] }}">
                <img class="cart-icon" src="/_assets/icons/shop-bag.svg" alt="{{ i18n.cart_icon_title[page.lang] }}" title="{{ i18n.cart_title[page.lang] }}" width="24" height="30">
                <span class="badge" data-badge="0" data-initial="YZ"></span>
            </a></li>
        </ul>
        <ul class="list currency-list">
            <li><a href="" class="btn shadow btn-nav selected" value="EUR" aria-label="{{ i18n.aria.currency_eur[page.lang] }}" aria-current="page">€</a></li>
            <li><a href="" class="btn shadow btn-nav" value="USD" aria-label="{{ i18n.aria.currency_usd[page.lang] }}">$</a></li>
        </ul>
        <ul class="list language-list">
            <li><a href="{{ page.url | customLocaleUrl('fr') | url }}" class="btn shadow btn-nav {% if page.lang == 'fr' %}selected{% endif %}" {% if page.lang == 'fr' %}aria-current="true"{% endif %} aria-label="{{ i18n.aria.lang_fr[page.lang] }}">FR</a></li>
            <li><a href="{{ page.url | locale_url('en') | url }}" class="btn shadow btn-nav {% if page.lang == 'en' %}selected{% endif %}" {% if page.lang == 'en' %}aria-current="true"{% endif %} aria-label="{{ i18n.aria.lang_en[page.lang] }}">EN</a></li>
        </ul>
    </nav>
</header>
