<article class="shadow item item-infos" data-id="{{ post.data.id }}">
    <header class="item-header">
        <h2 id="{{ post.data.name }}" class="item-title">
            {{ post.data.name }}
        </h2>
        <h3 class="item-subtitle">
            {{ post.data.mini_descr }}
        </h3>
    </header>
    <figure class="item-figure">
        {%- set thumbs_url = settings.dirs.thumbs + post.data.photos[0] -%}
        <img
            src="{{ thumbs_url | url }}"
            class="item-image"
            alt="{{ post.data.name }}"
            width="446"
            height="297"
        />
    </figure>
    <p class="item-description">{{ post.data.description | excerptFromDescription }}</p>
    {% set price = post.data.price %}
    {% set stock = post.data.stock %}
    {% include 'price_stock.njk' %}
    <footer class="item-footer">
        <a
            href="{{ post.data.permalink | customLocaleUrl(page.lang) | url }}"
            class="btn btn-details"
            aria-label="{{ i18n.card_detail[page.lang] }}"
            >{{ i18n.card_detail[page.lang] }}</a
        >
        {% include 'button_add.njk' %}
    </footer>
</article>
