<style>
    .price {
        color: var(--primary-color);
        flex: 1;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        padding: 0.5rem;
        text-align: right;
    }

    .stock {
        font-weight: normal;
        font-size: 1rem;
    }
</style>

<data
    class="price"
    value="{{ price }}"
    itemprop="price"
    aria-label="{{ i18n.price[page.lang] }}"
>
    {{ price | float | round(2) }} €
    {% if stock < 6 %}
        <span class="stock">- ({{ i18n.stock[page.lang] | with({stock: stock}) }})</span>
    {% endif %}
</data>
<meta itemprop="priceCurrency" content="EUR" />
