---
layout: default.njk
card:
  en: add to basket
  fr: ajouter au panier
---

<section aria-labelledby="card-title"></section>
    <article class="card-details">
        <figure class="card-figure">
            <img src="{{ settings.dirs.img_products | url }}{{ photos[0] }}" alt="{{ i18n.photoAlt[page.lang] | default(photos[0]) }}" />
            <figcaption class="card-caption" aria-label="{{ title }} - {{ i18n.aria.productImageCaption[page.lang] }}">{{ title }}</figcaption>
        </figure>
        <section class="card-info">
            <header>
                <h1 id="content-title" class="card-title">{{ title }}</h1>
            </header>
            <section class="card-description">
                <p>{{ description }}</p>
                <dl>
                    {% for key, value in options %}
                        <dt>{{ key }}{% if page.lang == 'fr'%}&nbsp;{% endif %}:&nbsp;</dt>
                        <dd>{{ value }}</dd>
                    {% endfor %}
                </dl>
            </section>
            <footer class="card-footer">
                <h3 class="price" aria-label="{{ i18n.aria.productPrice[page.lang] }}">{{ price }}</h3>
                <a href="#" class="btn btn-card" aria-label="{{ i18n.aria.addToCartButton[page.lang] }} - {{ title }}">
                    {{ i18n.buttonCartTitle[page.lang] }}   </a>
            </footer>
        </section>
    </article>
</section>
