---
layout: default.njk
title: Test Slide par défaut
---

<script>
document.addEventListener( 'DOMContentLoaded', function () {

	var main = new Splide( '#main-slider', {
		type      : 'fade',
		rewind    : true,
		pagination: false,
		arrows    : false,
	} );

	var thumbnails = new Splide( '#thumbnail-slider', {
		fixedWidth  : 100,
		fixedHeight : 60,
		gap         : 10,
		rewind      : true,
		pagination  : false,
		cover       : true,
		isNavigation: true,
		focus       : 'center',
		breakpoints : {
			600: {
				fixedWidth : 60,
				fixedHeight: 44,
			},
		},
	});

	main.sync( thumbnails );
	main.mount();
	thumbnails.mount();
} );
</script>


<style>
    .splide__slide img {
        width: 90%;
        height: auto;
    }

	.splide__slide {
		opacity: 0.3;
	}

	.splide__slide.is-active {
		opacity: 1;
	}
</style>

<div id="main-slider" class="splide">
  <section class="splide__track">
		<ul class="splide__list">
			{%- for photo in photos -%}
			<li class="splide__slide">
				<img src="{{ settings.dirs.carousels_images | url }}{{ photo }}">
			</li>
			{%- endfor -%}
		</ul>
    </section>
</div>

<div id="thumbnail-slider" class="splide">
  <section class="splide__track">
		<ul class="splide__list">
			{%- for photo in photos -%}
			<li class="splide__slide">
				<img src="{{ settings.dirs.carousels_thumbs | url }}{{ photo }}">
			</li>
			{%- endfor -%}
		</ul>
    </section>
</div>