<header>
  <section class="category-description">
    <h2 id="{{ tag.title[page.lang] }}">{{ tag.title[page.lang] }}</h2>
    <p>{{ tag.description[page.lang] }}</p>
  </section>
  <ul class="tags-list no-padding no-margin">
    {% for category in i18n_categories %}
      {% set url_tag = '/category/' + category.label %}
      <li class="{% if (category.label == tag.label) %}selected{% endif %}">
        <a href="{{ url_tag | customLocaleUrl(page.lang) | url }}#{{ category.title[page.lang] }}">{{ category.title[page.lang] }}</a>
      </li>
    {% endfor %}
  </ul>
</header>

<hr>

<div class="columns">
  {%- for post in collections[tag.label] -%}
    {%- if post.data.page.lang == 'en' -%}
      <div class="column column-products-list col-4 col-xs-12">
        <div class="card products-list">
          <div class="card-header no-margin">
            <h5 class="card-title">{{ post.data.title }}</h5>
            <div class="card-subtitle text-gray">{{post.data.tags }} {{ post.data.options.type }}</div>
          </div>
          <div class="card-image no-padding no-margin">
            <img src="{{ '/boutique-11ty/_assets/img_products/' + post.data.photos[0] | customLocaleUrl("fr") | url }}" alt="{{ post.data.title }}">
          </div>
          <div class="card-body no-margin">
            <p class="description">{{ post.data.description }}</p>
            <h3 class="price">{{ post.data.price }}</h3>
          </div>
          <div class="card-footer no-margin">
              <a href="{{ post.data.permalink | customLocaleUrl(page.lang) | url }}" class="detail btn btn-secondary" data-product="{{ post.data.id }}">détail</a>
              <a class="btn btn-primary float-right">ajouter au panier</a>
          </div>
        </div>
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>