{
  "id": "{{ product.data.id }}",
  "title": "{{ product.data.name }}",
  "price": "{{ product.data.price }}",
  "link": "{{ product.url | url }}",
  {%- set imagePath = settings.dirs['thumbs'] + product.data.photos[0] %}
  "image": "{{ imagePath | url }}",
  "stock": "{{ product.data.stock }}",
  "weight": "{{ product.data.weight }}",
  "shipping_type": "{{ product.data.shipping_type }}",
  "shipping_point": "{{ product.data.shipping_point }}"
}{%- if not loop.last -%},{%- endif %}
