<section id="payment-successed" role="alert">
    <p>{{ i18n.payment_successed[page.lang] }}</p>
    <a href="{{ '/' | customLocaleUrl(page.lang) | url }}" aria-label="{{ i18n.payment_successed_link[page.lang] }}">
        ‹ {{ i18n.payment_successed_link[page.lang] }}
    </a>
</section>
