---
layout: default.njk
pagination:
  data: i18n_categories
  size: 1
  alias: tag
permalink: "category/{{ tag.label | slugify }}/"
eleventyComputed:
  title: "Liste les produits pour {{ tag.title[page.lang] }}"
---

{% include "products_list.njk" %}

