<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bundle.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <main class="wrapper">
            {% include "header.njk" %}
            <section>
                {{ content | safe }}
            </section>
            <footer class="section section-footer">
                <ul class="container grid-lg">
                    <li>
                        <a href="/">confidentialité</a>
                    </li>
                    <li>
                        <a href="/">mentions légales</a>
                    </li>
                </ul>
            </footer>
        </main>
    </body>
</html>