#floating-cart {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: var(--focus-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 1s ease, background-color 0.3s ease;
}

#floating-cart a {
    color: var(--secondary-bg);
    font-size: 24px;
    text-decoration: none;
}

#floating-cart:hover {
    background-color: var(--hover-color);
    opacity: 1;
    transform: scale(1.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#floating-cart .cart-icon {
    width: 1.6rem;
    opacity: 0.7;
    padding-top: 0.3rem;
}