.category-description {
    background-color: var(--primary-color);
    color: var(--bg-color);
    margin-bottom: 1.2rem;
    padding: 0.5rem 1rem;
}

.category-description h2 {
    margin-top: 0;
}

.category-description p {
    margin: 1rem 0;
}

.tags-list {
    border-bottom: var(--border-thin);
    flex-wrap: wrap;
    padding: 0 0 1.5rem 0;
}

.btn-tag {
    font-size: 0.8rem;
    padding: 0.4rem;
    border: var(--border-thin);
}

.products-list {
    display: grid;
    gap: var(--gap-large);
}

@media (min-width: 769px) {
    .category-description {
        padding: 0.3rem 1rem 1rem;
    }

    .btn-tag {
        font-size: 0.9rem;
        padding: 0.5rem;
    }

    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }
}