.card-details {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding-bottom: 2rem;
}

.card-figure {
    margin: 0 auto;
    border: var(--border-thin);
}

.card-image {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.card-caption {
    background-color: var(--bg-color);
    bottom: 0.2rem;
    font-size: 0.6rem;
    left: 0.2rem;
    opacity: 0.6;
    padding: .1rem .3rem;
    position: absolute;
    transition: opacity 0.3s ease;
}

.card-caption:hover {
    opacity: .8;
}

.card-thumbnails {
    display: flex;
    gap: var(--gap-small);
    justify-content: flex-start;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: auto;
}

.card-thumbnail {
    width: 4rem;
    cursor: pointer;
    opacity: 0.4;
    border: var(--border-thin);
    margin: 0;
    transition: opacity 0.3s ease;
}

.card-thumbnail.is-active {
    opacity: 1;
}

.card-thumbnail img {
    width: 100%;
    height: 100%;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.5rem;
    margin: 0rem;
}

h2.card-title {
    font-size: 1.2rem;
    color: var(--primary-color);
    padding: 1rem 0;
    line-height: 1.5rem;
}

.card-description dl {
    display: grid;
    grid-template-columns: auto 1fr;
}

.card-description dt {
    font-weight: bold;
}

.card-description dd {
    margin: 0 .5rem;
}

.card-footer .price {
    text-align: left;
    display: block;
}

.card-footer .btn-card {
    float: left;
    margin: 0.5rem 0;
}

@media (min-width: 769px) {
    .card-image {
        max-width: 925px;
    }

    .card-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-caption {
        padding: 0.3rem 0.5rem;
        font-size: 0.8rem;
    }

    .card-title {
        font-size: 1.8rem;
    }

    h2.card-title {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .card-footer {
        margin-top: auto;
    }
}