.category-description {
    background-color: var(--primary-color);
    color: var(--bg-color);
    margin-bottom: 1.2rem;
    padding: 0.5rem 1rem;
}

.category-description h2 {
    margin-top: 0;
}

.category-description p {
    margin: 1rem 0;
}

.category-description a {
    color: var(--secondary-bg);
}

.products-list {
    display: grid;
    gap: var(--gap-large);
}

@media (min-width: 769px) {
    .category-description {
        padding: 0.3rem 1rem 1rem;
    }

    .products-list {
        grid-template-columns: repeat(3, 1fr);
    }
}