.splide__arrow:disabled {
    opacity: .3;
}

.splide__arrow--prev {
    left: 1rem;
}

.splide__arrow--next {
    right: 1rem;
}

.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    height: 2rem;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: .7;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    z-index: 1;
}

.splide__arrow svg {
    fill: #000;
    height: 1.2rem;
    width: 1.2rem;
}

.splide__arrow--prev svg {
    transform: scaleX(-1);
}