---
layout: _layouts/default.njk
eleventyComputed:
    title: '{{ i18n.cart_title[page.lang] | safe }}'
---

<style>
    /* Section du ticket */
    :root {
        --cart-item-padding: 1rem;
        --cart-gap: 1.5rem;
        --padding-standard: 1rem;
    }

    #cart-ticket {
        margin-top: var(--gap-large);
        padding: var(--cart-item-padding);
        background-color: var(--secondary-bg);
        border: var(--border-thin);
        border-radius: var(--cart-border-radius);
        box-shadow: var(--card-shadow);
    }

    #no-cart {
        background: #f7f8f9;
        border-radius: 0.1rem;
        color: hsl(216, 16%, 47%);
        padding: 3.2rem 1.6rem;
        text-align: center;
    }
</style>

<h1>{{ title }}</h1>

<section id="cart" class="display-none">
    <div id="cart-ticket">
        <h2>Ticket</h2>

        <label for="destination" id="destination-label" class="display-none">Destination :</label>
        <select id="destination" name="destination">
          {% for zone, data in shipping.grille_tarifs %}
            {% for country in data.pays[page.lang] %}
              <option value="{{ zone }}">
                {{ country }}
              </option>
            {% endfor %}
          {% endfor %}
        </select>

        <div id="cart-subtotal" class="cart-summary">
            <strong>Sous-total :</strong>
            <span class="subtotal-amount">0.00</span>
        </div>
        <div id="cart-shipping" class="cart-summary">
            <strong>Frais de transport :</strong>
            <span id="shipping-cost" class="shipping-amount">5.00</span>
        </div>
        <div id="cart-total" class="cart-summary">
            <strong>Total :</strong> <span class="total-amount">0.00</span>
        </div>
    </div>

    <section id="cart-content" class="products-list"></section>
</section>

<section id="no-cart" class="display-none">
    <p>{{ i18n.no_item[page.lang] }}</p>
    <a href="{{ '/' | customLocaleUrl(page.lang) | url }}"
        >‹ {{ i18n.no_item_link[page.lang] }}</a
    >
</section>

<script>
    const shippingData = {{ shipping | dump | safe }};
  </script>
  