<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            href="{{ '/_assets/icons/favicon.ico' | url }}"
            rel="icon"
            type="image/x-icon"
        />
        <link rel="alternate" hreflang="fr" href="{{ page.filePathStem | customLocaleUrl("fr") | url }}">
        <link rel="alternate" hreflang="en" href="{{ page.filePathStem | customLocaleUrl("en") | url }}">

        {% if include_item_card_bundle %}
            <link rel="stylesheet" href="{{ '/bundle-item-card.css' | url }}" />
            <script src="{{ '/bundle-slide.js' | url }}"></script>
        {% elseif include_items_list_bundle %}
            <link rel="stylesheet" href="{{ '/bundle-items-list.css' | url }}" />
        {% else %}
            <link rel="stylesheet" href="{{ '/bundle-main.css' | url }}" />
        {% endif %}

        <script type="module" src="{{ '/bundle.js' | url }}"></script>

        <meta
            name="description"
            content="{{ meta_descr or i18n.meta.description[page.lang] }}"
        />

        <meta property="og:title" content="{{ title }}" />
        <meta
            property="og:description"
            content="{{ meta_descr or i18n.meta.description[page.lang]  }}"
        />
        <meta property="og:url" content="{{ page.url | url }}" />
        <meta property="og:type" content="website" />

        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'header.njk' %}
        <main class="wrapper">
            {{ content | safe }}
        </main>
        {% include 'footer.njk' %}
        {% include 'floating-cart.njk' %}
    </body>
</html>


