---
layout: _layouts/default.njk
include_items_list_bundle: true
---

{% set js %}
    {% include "../../_assets/js/add-to-cart.js" %}
{% endset %}

<script>
    {{ js | jsmin | safe }}
</script>

{% set css %}
    {% include "../../_assets/css/items-list.css" %}
    {% include "../../_assets/css/item.css" %}
    {% include "../../_assets/css/button-add.css" %}
    {% include "../../_assets/css/price-stock.css" %}
{% endset %}

<style>
	{{ css }}
</style>

{%- if not tag -%} {% set tag = i18n_categories[0] %} {%- endif -%}

<header>
    <section class="shadow category-description">
        <h1 id="{{ tag.title[page.lang] }}">{{ tag.title[page.lang] }}</h1>
        <p>{{ tag.description[page.lang] | safe}}</p>
    </section>

    <ul class="list tags-list" aria-labelledby="category-title">
        {% for category in i18n_categories %}
            {% set url_tag = '/category/' + category.label %}
            <li>
                <a
                    href="{{ url_tag | customLocaleUrl(page.lang) | url }}#{{ category.title[page.lang] }}"
                    class="btn btn-tag {% if (category.label == tag.label) %}selected{% endif %}"
                    aria-label="{{ i18n.aria.category[page.lang] }} {{ category.title[page.lang] }}"
                >
                    {{ category.title[page.lang] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</header>

<section class="products-list">
    {% for post in collections[tag.label] %}
        {% if post.data.page.lang == page.lang %}
            <article class="shadow item item-infos" data-id="{{ post.data.id }}">
                <header class="item-header">
                    <h2 id="{{ post.data.name }}" class="item-title">
                        {{ post.data.name }}
                    </h2>
                    <h3 class="item-subtitle">
                        {{ post.data.mini_descr }}
                    </h3>
                </header>
                <figure class="item-figure">
                    {% image_product post.data.photos[0], 'item-image', i18n.alt_photo[page.lang] + ' - ' + post.data.name, '(max-width: 769px) 365px, 490px' %}
                </figure>
                <p class="item-description">{{ post.data.description | excerptFromDescription }}</p>
                <p>{{ post.data.subtitle[page.lang] }}</p>
                {% set price = post.data.price %}
                {% set stock = post.data.stock %}
                {% include 'price_stock.njk' %}
                <footer class="item-footer">
                    <a
                        href="{{ post.url | customLocaleUrl(page.lang) | url }}"
                        class="btn btn-details"
                        aria-label="{{ i18n.card_detail[page.lang] }}"
                        >{{ i18n.card_detail[page.lang] }}</a
                    >
                    {% include 'button_add.njk' %}
                </footer>
            </article>
        {% endif %}
    {% endfor %}
</section>
