---
layout: _layouts/default.njk
---

{% set js %}
    {% include "../../_assets/js/add-to-cart.js" %}
    {% include "../../../node_modules/@splidejs/splide/dist/js/splide.js" %}
    {% include "../../_assets/js/carousel.js" %}
{% endset %}

<script>
    {{ js | safe }}
</script>

{% set css %}
    {% include "../../_assets/css/item-card.css" %}
    {% include "../../_assets/css/button-add.css" %}
    {% include "../../_assets/css/price-stock.css" %}

    {% include "../../../node_modules/@splidejs/splide/dist/css/splide-core.min.css" %}
    {% include "../../_assets/css/splide-perso.css" %}
{% endset %}

<style>
	{{ css | cssmin | safe }}
</style>

<section aria-labelledby="card-title">
    <article class="card-details product-infos item-infos" data-id="{{ id }}">
        {%- include 'carousel.njk' -%}
        <section class="card-info">
            <header>
                <h1 id="content-title" class="card-title">{{ name[page.lang] }}</h1>
                <h2 class="card-title">{{ mini_descr[page.lang] }}</h2>
            </header>
            <section class="card-description">
                <p>{{ description[page.lang] | safe }}</p>
                <dl>
                    {% for key, value in options[page.lang] %}
                    <dt>
                        {{ key }}{% if page.lang == 'fr'%}&nbsp;{% endif
                        %}:&nbsp;
                    </dt>
                    <dd>{{ value }}</dd>
                    {% endfor %}
                </dl>
            </section>
            <footer class="card-footer">
                {% include 'price_stock.njk' %}
                {% include 'button_add.njk' %}
            </footer>
        </section>
    </article>
</section>
