---
permalink: bundle-item-card.css
eleventyExcludeFromCollections: true
---

{% include "./_assets/css/styles.css" %}
{% include "./_assets/css/header.css" %}
{% include "./_assets/css/footer.css" %}
{% include "./_assets/css/floating-cart.css" %}

{% include "./_assets/css/item-card.css" %}
{% include "./_assets/css/button-add.css" %}
{% include "./_assets/css/price-stock.css" %}

{% include "../node_modules/@splidejs/splide/dist/css/splide-core.min.css" %}
{% include "./_assets/css/splide-perso.css" %}