---
permalink: bundle-items-list.css
eleventyExcludeFromCollections: true
---

{% include "../node_modules/normalize.css/normalize.css" %}

{% include "./_assets/css/styles.css" %}
{% include "./_assets/css/header.css" %}
{% include "./_assets/css/footer.css" %}
{% include "./_assets/css/floating-cart.css" %}

{% include "./_assets/css/items-list.css" %}
{% include "./_assets/css/item.css" %}
{% include "./_assets/css/button-add.css" %}
{% include "./_assets/css/price-stock.css" %}